//// TYPOGARPHY   ////

.card-title {
  font-family: $font-heading;
  font-weight: bold !important;
}

.card-container {
  a {
    color: $color-background;
  }
}

.card-body {
  a {
    background-color: $color-primary;
    padding: 10px;
    color: $color-background;
  }
}

/// CARD BODY ///

.card-background,
.card-header {
  background-color: $color-primary;
  text-align: center;
  border: none !important;

  h2 {
    text-align: center !important;
  }
}

.tab-content {
  margin-top: 30px !important;
  @media (min-width: 600px) {
    width: 600px;
    padding-left: 50px;
    margin-top: 0 !important;
  }
}

.card-img {
  text-align: center !important;
}

.card-header-content {
  text-align: center;
}

.card-body {
  text-align: center;
}


.staff-card,
.contact-card {
  width: 250px;
  margin: 0 auto;
}

