  // FORM

  .form-container {
    background-color:#343A40!important;
    padding: 5%;
    color: #F2F2F0 !important;
  }

  
.footer-container {
  position: relative !important;
  background: black;
  color: #F2F2F0 !important;
  text-align: center;
  
}
