// FORM

.form-container {
  background-color: $color-primary;
  padding: 5%;
  color: $color-background;

  .form-label {
    padding-top: 16px !important;
  }
  @media (min-width: 600px) {
    width: 300px;
  }
  @media (min-width: 1000px) {
    width: 450px;
    margin: 0 auto;
  }
}
