
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: $font-primary;
    background: #F2F2F0 !important;
    position: absolute;

}

.container {
    position: relative;
    
    width: 340px;
    padding-top: 50px;
    margin: 0 auto;
    vertical-align: middle;
    padding-bottom: 50px;

    @media (min-width: 600px) {
        width: 690px;
    }
    

}

.container-background {
    position: relative;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
}


.fadeIn {
    animation-duration: 2s !important; 
}















 


  