
body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: $font-primary;
    background: #F2F2F0 !important;

}

.welcome-text-container {
    position: relative;
   padding-top: 90px !important;
}

.opening-hours-contanier {
    width: 300px;
    background: $color-primary;
    margin: 0 auto;
    color: $color-background;

    .opening-container {
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
    }
}

.card-background, .card-header {
    background-color:#343A40!important;
    text-align: center;
    border: none !important;

    h2 {
        text-align: center !important;
    }

}

