body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: $font-primary;
  background: $color-background;
  position: absolute;
}

.fadeIn {
  animation-duration: 2s !important;
}

.staff-map {
  iframe {
    @media (min-width: 1000px) {
      width: 800px;
      margin-bottom: 8%;
    }
  }
}

