/// menu.js

.menu-navigation {
  text-align: left;

  a {
    color: $color-background;
  }

  .nav-item {
    a {
      color: #83837f !important;
    }
  }
  .nav-link:hover {
    background-color: $order-button-color;
    color: $color-background;
  }

  .nav-link.active {
    color: $color-background;
    background-color: $color-primary;

    .nav-link:hover {
      background-color: $order-button-color;
      color: $color-background;
    }
  }
}

.menu-flex {
  justify-content: space-between;
}

.hr-menu {
  width: 100%;
}