
.nav-link {
    font-weight: bold !important;
    font-family:'Libre Baskerville', serif !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;

   
    @media (min-width: 1000px) {
        font-size: 12px;
        padding-bottom: 0px !important;
    }
}

.nav-button {
    text-align: center;
    padding-bottom: 30px;
    margin-top: 30px !important;

    .btn {
        margin-top: 30px !important;
    }

    @media (min-width: 1000px) {
        font-size: 12px;
        padding-bottom: 0px !important;
        display: flex;
        margin-top: 0px !important;

        .btn {
            margin-top: 0px !important;
        }
        
    }


}

.navbar {
    position: absolute !important;
    width: 100%;
}