/// spiseriet
.category-container {
  position: relative;
  text-align: center;
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold !important;
  }

  h3 {
    text-align: center;
    font-family: $font-heading;
    font-weight: bold !important;
  }
}
