//// welcome text image
.image-container {
    text-align: center;

    img {
        width: 300px;
        margin: 0 auto;
    }


    @media (min-width: 600px) {
        img {
            width: 300px;
            margin: 0 auto;
        }

      }

}
